.vscode/*
.gitignore
.gitmodules  
src/**/*
tsconfig.json
sqlite-viewer-core/**/*
!sqlite-viewer-core/vscode/build/assets
!sqlite-viewer-core/vscode/build/index.html
sqlite-viewer-app/**/*
sqlite-viewer-*
exampleFiles/*
documentation/*.gif
node_modules/**/*
!node_modules/@vscode/codicons
scripts/*
*.vsix
*.zip
