sqlite-viewer-app/node_modules/**/*
sqlite-viewer-app/public/*.sqlite
sqlite-viewer-app/public/*.webm
sqlite-viewer-app/public/*.webp
sqlite-viewer-app/public/*.png
sqlite-viewer-app/src/**/*
sqlite-viewer-app/config/**/*
sqlite-viewer-app/scripts/**/*
sqlite-viewer-app/build/**/*
sqlite-viewer-app/.git*
sqlite-viewer-app/.eslint*
sqlite-viewer-app/*.md
sqlite-viewer-app/*.env*
sqlite-viewer-app/*.json
sqlite-viewer-app/*.yaml
exampleFiles/*
documentation/*.gif
scripts/*
*.vsix
*.zip
